<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href={% static "app/bower_components/html5-boilerplate/css/normalize.css"%}>
  <link rel="stylesheet" href={% static "app/bower_components/html5-boilerplate/css/main.css"%}>
  <link rel="stylesheet" href={% static "app/app.css"%}>
  <link rel="stylesheet" href={% static "css/project.css"%}>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <script src={% static "app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"%}></script>
</head>
<body class="balloon_background">
  <!-- application tabs -->
  <app-tabs></app-tabs>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src={% static "app/bower_components/angular/angular.js"%}></script>
  <script src={% static "app/bower_components/angular-route/angular-route.js"%}></script>
  <script src={% static "app/bower_components/angular-cookies/angular-cookies.js"%}></script>
  <script src={% static "app/app.js"%}></script>
  <script src={% static "app/home/home.js"%}></script>
  <script src={% static "app/teams/teams.js"%}></script>
  <script src={% static "app/competitions/competitions.js"%}></script>
  <script src={% static "app/components/version/version.js"%}></script>
  <script src={% static "app/components/version/version-directive.js"%}></script>
  <script src={% static "app/components/version/interpolate-filter.js"%}></script>
</body>
</html>
