{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href={% static "css/project.css" %}>
{% endblock %}

{% block content %}
  
<div class="container">
  
  <div class="row">
    <div class="col-md-8">
      <app-panels  class="balloon_background"></app-panels>
    </div>

    <div class "col-md-2">
      <ul>
	{% if request.user.is_authenticated %}
	<li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
	<li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
	{% else %}
	<li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
	<li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
	{% endif %}

      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block appcode %}
<!-- Javascript for the application -->
<script src="app.js"></script>
<script src="home/home.js"></script>
{% endblock %}
