{% extends "homebase.html" %}
{% load staticfiles i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href={% static "css/project.css" %}>
{% endblock %}

{% block content %}
  
<div class="container">

  <div class="col-xs-8">
    <app-tabs  class="balloon_background"></app-tabs>
  </div>

  <ul class "col-xs-offset-10">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
          {% endif %}

  </ul>

</div>

{% endblock %}

{% block appcode %}
<!-- Javascript for the application -->
<script src="app.js"></script>
<script src="home/home.js"></script>
<script src="teams/teams.js"></script>
<script src="competitions/competitions.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
{% endblock %}
