Collectfast==0.2.1
Django==1.7.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.0
PyYAML==3.11
Pygments==2.0.2
Sphinx==1.2.3
boto==2.32.1
coverage==3.7.1
defusedxml==0.4.1
dj-database-url==0.3.0
django-allauth==0.18.0
django-appconf==0.6
django-autoslug==1.7.2
django-avatar==2.0
django-braces==1.4.0
django-cache-url==0.8.0
django-configurations==0.8
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
-e git+git@github.com:swfiua/django_eighty_days.git@5c3d263213762c71842b850afa767f6f09b89607#egg=django_eighty_days-origin/HEAD
django-floppyforms==1.2.0
django-model-utils==2.2
django-rest-swagger==0.2.8
django-secure==1.0
django-storages==1.1.8
djangorestframework==3.0.4
docutils==0.12
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.1.1
oauthlib==0.7.2
psycopg2==2.5.4
pylibmc==1.4.1
python-dateutil==2.4.0
python3-openid==3.0.5
pytz==2014.7
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
sqlparse==0.1.14
unicode-slugify==0.1.1
