
<div ng-show="tc.teams.length">
  Current entries:
  <ul>
  <div ng-repeat="team in tc.teams">
    <li> {$ team.name $} </li>
  </div>
  </ul>
</div>
controller: {$ name $}<br />

teams: {$ tc.teams $}


<p>not team member: {$ tc.notTeamMember() $}
<p>isCompetitor: {$ tc.isCompetitor() $}
<p> both {$ tc.notTeamMember() && tc.isCompetitor() $}

<div ng-show="tc.notTeamMember() && tc.isCompetitor()">
  <p> Ask to join team </p>
  <team-member-request></team-member-request>

  <team-create><team-create>
</div>
