
<div ng-show="(!comps.isTeamMember(competition)) && comps.teamsNeedingMembers(competition).length">
  <h4>The teams below are looking for members:</h4>

  <div ng-repeat="team in comps.teamsNeedingMembers(competition)">
    <p><strong>{$ team.name $}</strong>
      Captain:  <strong>{$ team.captain.nickname $} </strong></p>
      <p>Current team:
	<ul>
	  <div ng-repeat="member in team.team_members">
	    <li>{$ member.nickname $}</li>
	  </div>
	  <li>You? <button onclick="">Ask to join team</button></li>
	</ul>
      </p>
  </div>
</div>


