
<!-- controller for competitions is coms -- need a better word -->
<div>
  <li> Name: {$ competition.name $} </li>
  <li> Description: {$ competition.description $} </li>
  <li> Start: {$ comps.startDate(competition) | date $} </li>
  <li> End: {$ comps.endDate(competition) | date $} </li>
  <li> Days: {$ competition.days $} </li>
  <li> Started: {$ comps.started(competition) $} </li>
  <li> Finished: {$ comps.finished(competition) $} </li>

  <competition-enter 
     <!-- ng-show="(!coms.started(competition)) "> -->
    ng-show="(!enrol.isEntered(competition))">
    <!-- ng-show="(!coms.started(competition)) && (!enrol.isEntered(competition))"> -->
    </competiton-enter>

</div>
