
<!-- controller for competitions is coms -- need a better word -->
<div>
  <h3> {$ competition.name $} </h3>
  <p> {$ competition.description $} <p>
  
  <p> Start: <em>{$ comps.startDate(competition) | date $}</em> <p>
  <p> End: <em>{$ comps.endDate(competition) | date $}</em> </li>
  <p> Days: <em>{$ competition.days $}</em> <p>
  <p> Team: size: <em>{$ competition.team_size(competition) $}</em> </li>

  <competition-enter 
    ng-show="(!comps.finished(competition)) &&  
    	     (!enrol.isEntered(competition))">

  </competiton-enter>

</div>
