
<!-- controller for competitions is coms -- need a better word -->
<div>
  <h3> {$ competition.name $} </h3>
  <p> {$ competition.description $} <p>
  
  <p> Start: <strong>{$ comps.startDate(competition) | date $}</strong> <p>
  <p> End: <strong>{$ comps.endDate(competition) | date $}</strong> </li>
  <p> Days: <strong>{$ competition.days $}</strong> <p>
  <p> Team: size: <strong>{$ competition.team_size $}</strong> </li>
</div>

<competitor-list ng-show="competition.competitors.length"></competitor-list>

<competition-enter 
   ng-show="(!comps.finished(competition)) &&  
    	    (!enrol.isEntered(competition))">

</competiton-enter>

