<section class="competition">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<h3> {$ competition.name $} </h3>

<p> {$ competition.description $} <p>

<div>
  
  <p> <strong>{$ competition.days $}</strong> days
      from <strong>{$ comps.startDate(competition) | date $}</strong>
      to <strong>{$ comps.endDate(competition) | date $}</strong> 
      
  <p>Team: size: <strong>{$ competition.team_size $}</strong> </p>
</div>

<p>User name: {{ user }}</p>
<p>User id: {{ user.id }}</p>

<ul class="menu-panel">
  <li ng-class="{ active: compPanelCtrl.isSelected(1) }">
    <a href ng-click="compPanelCtrl.selectPanel(1)">Entries</a></li>

  <li ng-class="{ active: compPanelCtrl.isSelected(2) }">
    <a href ng-click="compPanelCtrl.selectPanel(2)">Teams</a></li>

  <li ng-class="{ active: compPanelCtrl.isSelected(3) }">
    <a href ng-click="compPanelCtrl.selectPanel(3)">Team Member Requests</a></li>
</ul>

<p>  panel is: {$ compPanelCtrl.panel $}</p>
<!--  Competitor information  -->
<div ng-show="compPanelCtrl.isSelected(1)">
  {$ competition $}
  <br>
  {$ $}
  <competitor-list></competitor-list>
</div>

</section>
