<section class="competition">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<h3> {$ competition.name $} </h3>

<p> {$ competition.description $} <p>

<ul class="menu-panel">
  <li ng-class="{ active: compPanel.isSelected(1) }">
    <a href ng-click="compPanel.selectPanel(1)">Entries</a></li>

  <li ng-class="{ active: compPanel.isSelected(2) }">
    <a href ng-click="compPanel.selectPanel(2)">Teams</a></li>

  <li ng-class="{ active: compPanel.isSelected(3) }">
    <a href ng-click="compPanel.selectPanel(3)">Team Member Requests</a></li>
</ul>

<div>
  
  <p> Start: <strong>{$ comps.startDate(competition) | date $}</strong> <p>
  <p> End: <strong>{$ comps.endDate(competition) | date $}</strong> </p>
  <p> Days: <strong>{$ competition.days $}</strong> <p>
  <p> Team: size: <strong>{$ competition.team_size $}</strong> </p>
  <p> Number of competitors:  <strong>{$ competition.competitors.length $}</strong> </p>
</div>


<!--  Competitor information  -->
<div ng-show="compPanel.isSelected(1)">
  <competitor-list></competitor-list>

  <competition-enter 
     ng-show="(!comps.finished(competition)) &&  
    	      (comps.notEntered(competition))"></competition-enter>
</div>

<!--  Team information  -->
<div ng-show="compPanel.isSelected(2)">
  <team-list></team-list>
</div>

<!--  Team member requrests -->
<div ng-show="compPanel.isSelected(2)">
  <team-member-requestss></team-member-requestss>
</div>

</section>
