<section class="competition">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<h3> {$ competition.name $} </h3>

<p> {$ competition.description $} <p>

<div>
  
  <p> <strong>{$ competition.days $}</strong> days
      from <strong>{$ comps.startDate(competition) | date $}</strong>
      to <strong>{$ comps.endDate(competition) | date $}</strong> 
      
  <p>Team: size: <strong>{$ competition.team_size $}</strong> </p>
</div>

<p>User name: {{ user }}</p>
<p>User id: {{ user.id }}</p>


<div ng-controller="CompetitionController">
  <a href="#/competitors/?competition={$ competition.id $}">Entries</a> |
  <a href="#/teams/?competition={$ competition.id $}">Teams</a>
  <div ng-view></div>

  <hr />

  <pre>$location.path() = {$ $location.path() $}</pre>
  <pre>$route.current.templateUrl = {$ $route.current.templateUrl $}</pre>
  <pre>$route.current.params = {$ $route.current.params $}</pre>
  <pre>$route.current.scope.name = {$ $route.current.scope.name $}</pre>
  <pre>$routeParams = {$ $routeParams $}</pre>
</div>

<!--  Competitor information  -->
<div ng-show="compPanel.isSelected(1)">
  <competitor-list></competitor-list>

  <competition-enter 
     ng-show="(!comps.finished(competition)) &&  
    	      (comps.notEntered(competition))"></competition-enter>
</div>

<!--  Team information  -->
<div ng-show="compPanel.isSelected(2)">
  <div ng-controller="teamsController" competition={$ competition.id $}>
    <teams></teams>
  </div>
</div>

<!--  Team member requests -->
<div ng-show="compPanel.isSelected(2)">
  <team-member-requests></team-member-requests>
</div>

</section>
