<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
{% load staticfiles i18n %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Around the world in 80 days</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% block extrastyle %}
  <!-- app specific stylesheets -->
  {% endblock %}

  {% block stylesheet %}
  <link rel="stylesheet" href={% static "bower_components/html5-boilerplate/css/normalize.css"%}>
  <link rel="stylesheet" href={% static "bower_components/html5-boilerplate/css/main.css"%}>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  {% endblock %}


</head>
<body>
  <!-- application tabs -->

  {% block content %}
  
  <div class="plain_background">
    <app-tabs></app-tabs>
  </div>

  <ul>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
          {% endif %}

  </ul>
  {% endblock %}
  

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  {% block scripts %}
  <script src={% static "bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"%}></script>
  <script src={% static "bower_components/angular/angular.js"%}></script>
  <script src={% static "bower_components/angular-route/angular-route.js"%}></script>
  <script src={% static "bower_components/angular-cookies/angular-cookies.js"%}></script>
  <script src={% static "bower_components/angular-resource/angular-resource.js"%}></script>
  {% endblock %}

  {% block appcode %}
  <!-- Javascript for the application -->
  {% endblock %}
</body>
</html>
