<h2>Competitions</h2>

<h3>Competitions in progress</h3>
  
<section ng-controller="CompetitionsCtrl as comps">
  <ul>
    <div ng-repeat="competition in comps.competitions">
	<competition-info  ng-show="comps.inProgress(competition)"></competition-info>
	<br>
    </div>
  </ul>
</section>

<h3>Up-coming competitions</h3>
  
<section ng-controller="CompetitionsCtrl as comps">
  <ul>
    <div ng-repeat="competition in comps.competitions">
	<competition-info  ng-show="!comps.started(competition)"></competition-info>
	<br>
    </div>
  </ul>
</section>

<h3>Completed competitions</h3>
  
<section ng-controller="CompetitionsCtrl as comps">
  <ul>
    <div ng-repeat="competition in comps.competitions">
	<competition-info  ng-show="comps.finished(competition)"></competition-info>
	<br>
    </div>
  </ul>
</section>

</p>
