
<section ng-controller="CompetitionsCtrl as comps">
  <h2>Up-coming competitions</h2>

  <competition-info  ng-show="!comps.started(competition)" ng-repeat="competition in comps.competitions"></competition-info>            
  <!-- <competition-info  -->
  <!-- ng-repeat="competition in comps.competitions|filter:comps.started(competition)"></competition-info> -->

  <h2>Competitions in progress</h2>
  
  <competition-info  ng-show="comps.inProgress(competition)" ng-repeat="competition in comps.competitions"></competition-info>

  <h2>Completed competitions</h2>
  
  <competition-info  ng-show="comps.finished(competition)" ng-repeat="competition in comps.competitions"></competition-info>


  <h2>My stats</h2>

  <p>Competitors: {$ comps.user_info.competitors.length $}</p>
  <p>Competitions {$ comps.user_info.competitions.length $}</p>
  <p>Teams: {$ comps.user_info.teams.length $}</p>
  <p>Captains: {$ comps.user_info.captains.length $}</p>

  <p>My comps: {$ comps.myCompetitions().length $}

</section>

</p>
